<!DOCTYPE html>
<html>
<head>
  <title>Placeholder text from the canon of western literature</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href= '/stylesheets/bootstrap.min.css'/>
  <link rel="stylesheet" href= '/stylesheets/fonts/fonts.css'/>
  <link rel="stylesheet" href='/stylesheets/chosen.css'/>
  <link rel="stylesheet" href= '/stylesheets/styles.css'/>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>

  <header class="container grid-spacing">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
          <div class="col-lg-offset-1">
            <div class="col-lg-4 callout-container alpha omega">
              <h1 class="pacifico">Placeholder Text</h1>
            </div>

            <div id="marquee" class='col-lg-2 alpha omega'>
              <h2 class='serif center c-wht'>LIBRE IPSUM</h2>
            </div>

            <div class="col-lg-4 callout-container alpha omega">
              <h1 class="pacifico">From Classic Literature</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <hr/>

  <section id="main-content">
    <div id="ipsum-container" class="container">

      <div class="col-lg-10 block-center">
        <p class="serif center grid-spacing">Bring an air of smug literary superiority to your wireframes and mockups with text from the canon of western literature.</p>
      </div>

        <form name="ipsum" class="col-lg-12 sans grid-spacing">
          <fieldset>
            <div class="col-lg-4">
              <div class="center block-center">
                <div class="black-bg circle inline">
                  <p class="sans yellow center fnt-med">1</p>
                </div>
                <label class="control-label"><b class='fnt-lrg'>Choose a book</b></label>

                <select class="col-lg-8">
                  <option value=0>Random</option>
                  <% books.each do |book| %>
                    <% book = JSON.parse(book) %>
                    <option value="<%= book["id"]%>"><%= book["title"]%> &#45; <%= book["author"] %></option>
                  <%end%>
                </select>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="center block-center">
                <div class="black-bg circle inline">
                  <p class="sans yellow center fnt-med">2</p>
                </div>
                <label class="control-label"><b class="fnt-lrg">No. paragraphs </b> <span>(max 8)</span><b></b></label>
                <div class="col-lg-3 block-center">
                  <input name='paragraphs' type='text' id='paragraphs' class='input-small form-control' placeholder="e.g. 6" value="1"/>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="center block-center">
                <div class="black-bg circle inline">
                  <p class="sans yellow center fnt-med">3</p>
                </div>
                <label class="control-label"><b class="fnt-lrg">Generate</b></label>
                <a href="#" id="submit" class='col-lg-6 block-center btn btn-large sans background-transition'>Get Your Text</a>
              </div>
            </div>

          </fieldset>
        </form>

        <div class="clearfix"></div>

        <div class='grid-spacing'>
          <p id="copy-to" class="hide thin-serif" style="position:relative;"><strong id="inner-copy">copy to clipboard</strong></p>
          <div class='clearfix'></div>

          <blockquote class="active">
            <div id='book-information' class='container'>
              <b><p id='book-title'></p></b>
              <p id='book-author'></p>
            </div>
            <p id="book-content" class="col-lg-12"><span class="mute">Text will display here.</span></p>
            <div class="clearfix"></div>
          </blockquote>

        </div>
      </div>
      <hr/>
  </section>
  <div class="clearfix"></div>
  <footer class="sans">
    <div class='container'>
      <p>
        <span>Libre Ipsum's</span> library of freely distributable material is taken from <a class='link' href="http://www.gutenberg.org/" target="_blank">Project Gutenberg</a>.
      </p>
      <small>made in San Francisco by <a class="link" href="http://availableforfriendship.com" target="_blank">adam.</small>
    </div>
  </footer>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/jquery-zclip-min.js"></script>
  <script src="/javascripts/chosen.jquery.min.js"></script>
  <script>
    $(document).ready(function() {

      function attachZClip(elem) {
        elem.zclip({
          path:'/javascripts/ZeroClipboard.swf',
          copy: function() { 
            return $.trim($(this).siblings('blockquote').find("#book-content").text());
          },
          afterCopy: function() {
            var $copyTextNode = $(this).find("#inner-copy");
            var oldCopy = $copyTextNode.text();

            $copyTextNode.text("copied to clipboard!");

            setTimeout(function() {
              $copyTextNode.text(oldCopy);
            }, 2000);
          }
        });
      }

      var book_id = 0,
          em = /\"?\_(\S(.*?\S)?)\_\"?/gm,
          parseNewLines = function(markdown) {
            return markdown.replace(/\r\n\n/g,"<br/><br/>");
          },
          parseEmphasis = function(markdown) {
            return markdown.replace(em, "<em>$1</em>");
          },
          $select = $('select'),
          $paragraphs = $('#paragraphs');
  
      $paragraphs.on('blur', function() {
        if(!this.value.match(/[0-9]/)) {
          $('#paragraph-count').text(1);
          this.value = "";
        } else {
          $('#paragraph-count').text(this.value);
        }
      });
 
      $select.chosen();
      $select.chosen().change(function(evt,chosen) {
        book_id = chosen.selected;
      });

      $('#submit').on('click',function(e) {
        e.preventDefault();
        var paragraphs = $paragraphs.val().match(/[0-9]/) ? $paragraphs.val() : 0,
            lines = 8,
            url;
        
        if(paragraphs > 8) paragraphs = 8;
        url = "api/v1/books/"+book_id+"/"+lines+"/"+paragraphs;

        $.ajax({
          url: url,
          method: "GET",
          contentType: "JSON",
          dataType: "JSON",
          success: function(res) {
            $('blockquote').addClass("active");
            $('#book-content').html(parseNewLines(parseEmphasis(res.text)));
            attachZClip($('#copy-to').removeClass('hide'));
            $("#book-title").text(res.title);
            $("#book-author").empty();
            $("#book-author").append('<span>by </span>');
            $("#book-author").append(res.author);
          },
          error: function(res) {
            console.log('error!')
            console.log(res)
          }
        });
      });
     });
</script>
</body>
</html>
