<!DOCTYPE html>
<html>
<head>
  <title>Placeholder text from the canon of western literature</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='/stylesheets/bootstrap.min.css'/>
  <link rel="stylesheet" href='/stylesheets/fonts/fonts.css'/>
  <link rel="stylesheet" href='/stylesheets/chosen.css'/>
  <link rel="stylesheet" href='/stylesheets/styles.css'/>
  <link rel="stylesheet" href='stylesheets/font-awesome.min.css'/>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>

  <header class="container grid-spacing">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
          <div class="col-lg-offset-1">
            <div class="col-lg-4 callout-container alpha omega">
              <h1 class="pacifico txt-shadow-drk">Placeholder Text</h1>
            </div>

            <div id="marquee" class='col-lg-2 alpha omega'>
              <h2 class='serif center c-wht'>LIBRE IPSUM</h2>
            </div>

            <div class="col-lg-4 callout-container alpha omega">
              <h1 class="pacifico txt-shadow-drk">From Classic Literature</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <hr/>

  <section id="main-content">
    <div class="container">
      <form name="ipsum" class="col-lg-12 sans grid-spacing">
        <fieldset class="grid-spacing">
          <div class="col-lg-4">
            <div class="center">
              <div class="black-bg circle inline shadow-drk">
                <p class="sans yellow center fnt-sm txt-shadow-drk">1</p>
              </div>
              <div class="row">
                <label class="control-label"><b class='fnt-sm'>Choose a book</b></label>
                <div class="clearfix"></div>
                <select class="col-lg-7">
                  <option value="0">Random</option>
                  <% books.each do |book| %>
                    <% book = JSON.parse(book) %>
                    <option value="<%= book["id"]%>"><%= book["title"]%> &#45; <%= book["author"] %></option>
                  <%end%>
                </select>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="center">
              <div class="black-bg circle inline shadow-drk">
                <p class="sans yellow center fnt-sm txt-shadow-drk">2</p>
              </div>
              <div class="row">
                <label class="control-label">
                  <b class="fnt-sm">No. paragraphs </b><span>(max 8)</span>
                </label>
                <div class="clearfix"></div>
                <div class="col-lg-3 block-center">
                  <input name="paragraphs" type='text' id="paragraphs" class="input-small form-control center" placeholder="2" value="1"/>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="center">
              <div class="black-bg circle inline shadow-drk">
                <p class="sans yellow center fnt-sm txt-shadow-drk">3</p>
              </div>
              <div class="row">
                <label class="control-label"><b class="fnt-sm">Generate</b></label>
                <div class="clearfix"></div>
                <span id="submit" class="sans button radial-wipe">
                  <p class="block-center pos-r">Get Your Text</p>
                </span>
              </div>
            </div>
          </div>
        </fieldset>
      </form>

      <div class="row">
        <div class='clearfix'></div>

        <blockquote class="col-lg-10 center block-center active">
          <div id="book-information" class="container hide">
            <b class="center"><p id="book-title" class="fnt-med"></p></b>
            <p id="book-author" class="serif"></p>
          </div>
          <p id="book-content" class="col-lg-12 serif">
            Text will display here.
          </p>
          <div class="clearfix"></div>
        </blockquote>

        <div class="container">
          <span id="copy-to" class="hide serif col-md-2 button grid-spacing">
            <p class="block-center">
              <strong id="inner-copy">copy <span class="fa fa-files-o"></span></strong>
            </p>
          </span>
        </div>
      </div>
    </div>
    <hr/>
  </section>

  <div class="clearfix"></div>
  <footer class="sans">
    <div class='container'>
      <p>
        Libre Ipsum's <span class="yellow">library of freely distributable material</span> is taken from <a class='link' href="http://www.gutenberg.org/" target="_blank">Project Gutenberg</a>.
      </p>
      <small class="pacifico"><span class="yellow">made in San Francisco by </span><a class="link" href="http://availableforfriendship.com" target="_blank">adam.</small>
    </div>
  </footer>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/jquery-zclip-min.js"></script>
  <script src="/javascripts/chosen.jquery.min.js"></script>
  <script>
    $(document).ready(function() {

      function attachZClip(elem) {
        elem.zclip({
          path:'/javascripts/ZeroClipboard.swf',
          copy: function() {
            return $.trim($(this).siblings('blockquote').find("#book-content").text());
          },
          afterCopy: function() {
            var $copyTextNode = $(this).find("#inner-copy");
            var oldCopy = $copyTextNode.html();

            $copyTextNode.text("copied!");

            setTimeout(function() {
              $copyTextNode.html(oldCopy);
            }, 2000);
          }
        });

        // TODO: remove jquery and just use zeroclipboard? zclip isnt taking margins into account.
        $('.zclip').css({
          'height': elem[0].getBoundingClientRect().height * 2,
          'top': elem[0].getBoundingClientRect().top +60
        });
      }

      var book_id = 0,
          em = /\"?\_(\S(.*?\S)?)\_\"?/gm,
          parseNewLines = function(markdown) {
            return markdown.replace(/\r\n\n/g,"<br/><br/>");
          },
          parseEmphasis = function(markdown) {
            return markdown.replace(em, "<em>$1</em>");
          },
          $select = $('select'),
          $paragraphs = $('#paragraphs');

      $paragraphs.on('blur', function() {
        if(!this.value.match(/[0-9]/)) {
          $('#paragraph-count').text(1);
          this.value = "";
        } else {
          $('#paragraph-count').text(this.value);
        }
      });

      $select.chosen();
      $select.chosen().change(function(evt,chosen) {
        book_id = chosen.selected;
      });

      $('#submit').on('click',function(e) {
        e.preventDefault();
        var paragraphs = $paragraphs.val().match(/[0-9]/) ? $paragraphs.val() : 0,
            lines = 8,
            url;

        if (paragraphs > 8) paragraphs = 8;
        url = "api/v1/books/"+book_id+"/"+lines+"/"+paragraphs;

        $.ajax({
          url: url,
          method: "GET",
          contentType: "JSON",
          dataType: "JSON",
          success: function(res) {
            $('blockquote').addClass("active");

            if (isHidden('#book-information')) {
              $('#book-information').removeClass('hide');
            }

            $('#book-content').html(parseNewLines(parseEmphasis(res.text)));

            if (isHidden('#copy-to')) {
              var $copy = $('#copy-to');
              $copy.removeClass('hide')
              attachZClip($copy);
            }

            $("#book-title").text(res.title);
            $("#book-author").html(res.author);
          },
          error: function(res) {
            console.log('error!')
            console.log(res)
          }
        });
      });

      function isHidden(elString) {
        var $el = $(elString);

        return $el.hasClass('hide');
      }
     });
</script>
</body>
</html>
