<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href= '/stylesheets/styles.css'/>
    <link rel="stylesheet" href= '/stylesheets/fonts/fonts.css'/>
    <link rel="stylesheet" href='/stylesheets/chosen.css'/>
 	</head>
  <body>
		<div id='ipsum-container'>
      <section id="left-side" class='col4 alpha omega'>
				<header id="marquee" class='col4 alpha omega'>
					<h1 class='bold-serif'>LIBRE IPSUM</h1>
				</header>

				<h5 id="byline" class='col4 alpha omega sans'>Unique placeholder text for your website, culled from a treasure trove of volumes in the public domain.</h5>
        <p class='sans'>API aceess: </p>
        <p>Six lines from a random book: </p>
        <pre>
          curl http://localhost:4567/api/v1/books
        </pre>
        <p>More granular control can be acheived with the following request: </p>
        <pre>
          curl http://localhost:4567/api/v1/books/[:book_id]/[:lines]/[:paragraphs]
        </pre>
        <p>[:book_id]</p>
			</section>
			
			<section id='right-side' class='col9 offset1'>
				<div id="information" class='col9 alpha'>
					<h1 id="salutation" class='thin-serif alpha grid-spacing col1'>welcome</h1>
					<p class='sans col6'>
						By default we'll fetch you a paragraph from a random book in our archives. 
						For now, all of our books are in English. Below, you can alter the number of paragraphs
						or lines as needed.
					</p>
          <div class='clearfix'></div>
          <select class="col4">
            <option value=0>Random book</option>
            <% books.each do |book| %>	
              <% book = JSON.parse(book) %>
              <%= book %>
              <option value="<%= book["id"]%>"><%= book["title"]%> &#45; <%= book["author"] %></option>
            <%end%>    
          </select>
        </div>
				
        <div class='col3 alpha'>
					<form id='form' class='omega'>
						<div class='box-input-group'>
							<input name='line' type='text' id='lines' class='xlarge' placeholder="how many lines?"/>
						</div>

						<div class='box-input-group col2 alpha omega'>
							<input name='paragraphs' type='text' id='paragraphs' class='xlarge' placeholder="how many pargraphs?"/>
						</div>
						
            <a href="#" id="submit" class='btn sans background-transition'>Your Words</a>	
            <p class='serif'>in</p>
            <p>
              [<span id='paragraph-count'>1</span> paragraph(s) of <span id="line-count">6</span> lines]
            </p> 
					</form>
				</div>

        <div class='col6 offset1 alpha omega grid-spacing'> 
          <a id="copy-to" href="#" style="position:relative">copy</a>
          <div id='book-information' class='col6 container'>
            <b><p class='col5' id='book-title'></p></b>
            <p class='col4 offset1' id='book-author'></p>
          </div>
          <div class='clearfix'></div>
          <blockquote></blockquote>
        </div>
        
      </div>
      <div class='row'></div>
	</section>
  
  <div class="clearfix"></div>		

	<footer>
	  <div class='container'>
		  <p>
				<span>Libre Ipsum's</span> library of freely distributable material is taken from <a class='link' href="http://www.gutenberg.org/">Project Gutenberg</a>.
			</p>
			<small>made in Mexico City and San Francisco by <span>adam and rebekah</span>.</small>
		</div>
  </footer>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/jquery-zclip-min.js"></script>
  <script src="/javascripts/chosen.jquery.min.js"></script>
  <script src="/javascripts/book_form.js"></script>
  <script>
    $(document).ready(function() {
      $('#copy-to').on('click',function(evt) {
        evt.preventDefault();
      });

      $('#copy-to').zclip({
        path:'/javascripts/ZeroClipboard.swf',
        copy: function() { 
          return $(this).siblings('blockquote').text();
        },
        afterCopy: function() {
          this.innerHTML = "copied";
        }
      });
  
      var book_id = 0,
          em = /\"?\_(\S(.*?\S)?)\_\"?/gm,
          parseNewLines = function(markdown) {
            return markdown.replace(/\r\n\n/g,"<br/><br/>");
          },
          parseEmphasis = function(markdown) {
            return markdown.replace(em, "<em>$1</em>");
          },
          $select = $('select'),
          $paragraphs = $('#paragraphs');
  
      $paragraphs.on('blur', function() {
        if(!this.value.match(/[0-9]/)) {
          $('#paragraph-count').text(1);
          this.value = "";
        } else {
          $('#paragraph-count').text(this.value);
        }
      });
 
      $('#lines').on('blur', function() {
        if(!this.value.match(/[0-9]/)) {
          $('#line-count').text(6);
          this.value = "";
        } else {
          $('#line-count').text(this.value);
        }
      });
  
      $select.chosen();
      $select.chosen().change(function(evt,chosen) {
        book_id = chosen.selected;
      });

      $('#submit').on('click',function(e) {
        e.preventDefault();
        var paragraphs = $paragraphs.val().match(/[0-9]/) ? $paragraphs.val() : 0,
            lines = $('#lines').val().match(/[0-9]/) ? $('#lines').val() : 0;

        $.ajax({
          url: "api/v1/books/"+book_id+"/"+lines+"/"+paragraphs,
          method: "GET",
          contentType: "JSON",
          dataType: "JSON",
          success: function(res) {
            $('blockquote').html(parseNewLines(parseEmphasis(res.text))).addClass('active');
            document.getElementById('copy-to').innerHTML = "copy";
            $("#book-title").text(res.title);
            $("#book-author").empty();
            $("#book-author").append('<span>by </span>');
            $("#book-author").append(res.author);
          },
          error: function(res) {
            console.log('error!')
            console.log(res)
          }
        });
      });
     });
</script>
</body>
</html>
