html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  background: #3E4147;
  color: #4c484a;
  height: 100%;
}

.c-wht {
  color: white;
}

footer {
  color: #e6decd;
  text-align: center;
  padding: 30px 60px 120px 60px;
  margin-top: 0px;
  clear: both;
  position: relative;
}

.shadow-drk {
  box-shadow: 1px 1px 3px rgb(137, 137, 137);
  -moz-box-shadow: 1px 1px 3px rgb(137, 137, 137);
  -webkit-box-shadow: 1px 1px 3px rgb(137, 137, 137);
}

/* why am i not using sass */
.txt-shadow-drk {
  text-shadow: 1px 1px 2px black;
  -moz-text-shadow: 1px 1px 2px black;
  -webkit-text-shadow: 1px 1px 2px black;
}

label { line-height: 30px; }

.row .container {
  display: table;
  margin: 0 auto;
  width: auto;
}

.alpha        { padding-left: 0px; }
.omega        { padding-right: 0px; }
.grid-spacing { margin-top: 20px; margin-bottom: 20px; }


/* TYPOGRAPHY */
.bold-serif {
  font: 46px/44px Georgia, serif;
  font: 46px/44px "museo_700regular";
}

.thin-serif {
  font: 17px/26px Georgia, serif;
  font: 17px/26px "museo_100regular";
}

.serif {
  font-family: 'museo_300regular', Georgia, serif;
}

.sans {
  font-family: "museo_sans_300regular", "HelveticaNeue-Light", "Helvetica Neue Light",
               "Arial Narrow", "ArialNarrow", Helvetica, Arial, sans-serif;
}

.pacifico {
  font-family: pacifico, "Lucida Grande";
}

.fnt-sm {
  font-size: 21px;
}

.fnt-med {
  font-size: 27px;
}

.fnt-lrg {
  font-size: 29px;
}

input, .chzn-container {
  margin-top: 20px;
}

a, a:visited, a:hover, a:active, a:focus {
  color: white;
  text-decoration: none;
}

hr {
  border: 2px solid black;
  margin-bottom: 0px;
}

.block-center { float: none; margin: 0 auto; }
.center { text-align: center }
.link {
  margin-bottom: 0;
  border-bottom: 1px solid white;
}

.link:hover {
  background-color: #CE3131;
}

.callout-container {
  text-align: center;
  border-top: 3px solid #e6decd;
  border-bottom: 3px solid #e6decd;
}

.callout-container h1 {
  display: block;
  margin: 4px 0 4px 0px;
  border-top: 1px solid #e6decd;
  border-bottom: 1px solid #e6decd;
  color: #e6decd;
}

blockquote {
  padding: 20px 10px 20px 10px;
  line-height: 23px;
  color: #3E4147;
  box-shadow: 0px 3px 6px rgba(166, 166, 166,0.4);
}

blockquote > p {
  text-indent: 20px;
  margin-bottom: 0px
}

blockquote.active {
  background: #fffff6;
}

::selection {
  background: #fabb4d;
}

blockquote::selection {
  background: #fabb4d;
}

.yellow {
  color: #FFFF98;
}

.black-bg {
  background: rgb(54, 54, 54) url(../images/noise.png);
}

.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.circle p {
  margin-top: 10%;
}

.button {
  border: 3px solid black;
  text-align: center;
  color: #000;
  padding: 8px 6px 8px 8px;
  cursor: pointer;
  position: relative;
}

.button:hover, .button.hover {
  color: #fff;
  background: rgba(240,240,230,0.6);
  transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
}

.radial-wipe, #copy-to {
  display: inline-block;
  overflow: hidden;
}

.radial-wipe:after {
  content: "";
  height: 150%;
  width: 200%;
  left: -50%;
  top: -40%;
  background: transparent;
  border-radius: 100px 100px;
  position: absolute;
  box-shadow: none;
  -webkit-box-shadow: none;
  -=moz-box-shadow: none;

  transform: scale3d(0.2, 1, 1);
  -webkit-transform: scale3d(0.2, 1, 1);
  -moz-transform: scale3d(0.2, 1, 1);

  transition: background-color 0.1s, transform 0.1s ease;
  -moz-transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
}

.radial-wipe:active:after {
  box-shadow: inset 0px 5px 30px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0px 5px 30px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 5px 30px rgba(0,0,0,0.5);
}

.radial-wipe:hover:after, .hover:after {
  background: #CE3131;

  transform: scale3d(1,1,1);
  -webkit-transform: scale3d(1,1,1);
  -moz-transform: scale3d(1,1,1);

  transition: transform 0.2s cubic-bezier(1,1,0.4,0);
  -webkit-transition: transform 0.2s cubic-bezier(1,1,0.4,0);
  -moz-transition: all 0.2s ease-in;
}

.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

/* FORM STYLES */
#submit {
  margin-top: 10px;
}

#submit p, #copy-to p {
  position: relative;
  z-index: 1;
}

#marquee {
  margin: 0px 18px 0 18px;
  background: #fabb4d;
}

#book-author {
  color: #383838;
  text-align: center;
  font-size: 15px;
  display: block;
  padding-bottom: 20px;
}

.fnt-orange {
  color: #fabb4d;
}

.control-label {
  margin-bottom: 5px;
  margin-top: 5px;
}

input {
  border-radius: 0 !important;
  background: #fffff6 !important;
}

#paragraphs {
  outline: none !important;
  border: 0 !important;
  box-shadow: none !important;
}


.fill { background: #30cbfc; }

.chzn-container .chzn-results .highlighted {
  background: #fabb4d;
  color: #4c484a;
}

.chzn-container-single .chzn-drop {
  background-color: #fffff6;
}

.chzn-container-single .chzn-single {
  background-color: #fffff6 !important;
  border-radius: 0 !important;
}

.chzn-drop {
  box-shadow: 2px 4px 8px rgba(0,0,0,0.1);
}

.chzn-search input {
  width: 100% !important;
}

.inline {
  display: inline-block;
}

/*temp gradient*/
#main-content {
  background: #fcfff4; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#dfe5d7), color-stop(100%,#b3bead)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
  box-shadow: inset 0px 1px 6px #999;
}