html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {	
  background: rgb(209,209,209) url(../images/noise.png) repeat;
  color: #4c484a;
  height: 100%;
}

#ipsum-container {
  padding-bottom: 60px;
}

footer {
  border-top: 5px solid #eeeee6;
  background: rgb(54, 54, 54) url(../images/noise.png);
  color: #FFFF98;
  text-align: center;
  padding: 40px 60px 120px 60px;
  margin-top: -40px;
  clear: both;
  position: relative;
}

footer span {
  color: white; 
}

label { line-height: 30px; }
.grid-spacing { margin-top: 40px; margin-bottom: 40px; }

.gutter { margin-left: 30px; }

.row .container {
  display: table;
  margin: 0 auto;
  width: auto;
}

.alpha    { padding-left: 0px; }
.omega    { padding-right: 0px; }


/* TYPOGRAPHY */
.bold-serif {
  font: 46px/44px Georgia, serif;
  font: 46px/44px "museo_700regular";
}

.thin-serif {
  font: 17px/26px Georgia, serif;
  font: 17px/26px "museo_100regular";
}

.serif { 
  font-family: 'museo_300regular', Georgia, serif;  
}

.sans {
  font-family: "museo_sans_300regular", "HelveticaNeue-Light", "Helvetica Neue Light", 
               "Arial Narrow", "ArialNarrow", Helvetica, Arial, sans-serif;
}

.fnt-med {
  font-size: 23px;
}

.fnt-lrg {
  font-size: 27px;
}

input, .chzn-container {
  margin-top: 10px;
}

a, a:visited, a:hover, a:active { color: white; }
hr { border: 3px solid #eeeee6; margin-bottom: 0px}
.block-center { float: none; margin: 0 auto; }
.center { text-align: center }
.link {
  padding: 3px 3px 0 3px;
  margin-bottom: 0;
  border-bottom: 1px solid #8e8e8e;
  text-decoration: none;
}

.link:hover {
  background-color: #fabb4d;
  color: #4c484a;
}

.callout-container {
  text-align: center;
  border-top: 3px solid #4c484a;
  border-bottom: 3px solid #4c484a;
}

.callout-container h2 {
  display: block;
  margin: 4px 0 4px 0px;
  border-top: 1px solid #4c484a;
  border-bottom: 1px solid #4c484a;
  color: #4c484a;
}

blockquote {
  padding: 20px 10px 20px 10px;
  line-height: 23px;
  color: #222;
}

blockquote > p {
  text-indent: 20px;
  margin-bottom: 0px
}

blockquote.active {
  border-left: 5px solid #EEEEE6;
  background: rgba(102, 190, 224, 0.23);
}

::selection {
  background: #fabb4d;
}

blockquote::selection {
  background: #fabb4d;
}
.mute {
  color:#8e8e8e;
}

.yellow {
  color: #FFFF98;
}

.black-bg {
  background: rgb(54, 54, 54) url(../images/noise.png);
}

.circle {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  margin-right: 10px;
}
/* FORM STYLES */
#submit {
  color: #EEEEE6;
  text-align: center;
  border: 3px solid;
}

#marquee {
  margin: 0px 15px 0 15px;
  background: #fabb4d;
  height: 90px;
}

#marquee h3 {
  text-shadow: -4px 3px 5px rgba(192, 154, 86, 0.18);
  color: #fefefe;
  margin-top: 20px;
  text-align: center;
}

#book-title {
  font-size: 27px;
  text-align: center;
}

#book-author {
  color: #383838;
  text-align: center;
  font-size: 15px;
  display: block;
  padding-bottom: 20px;
}

#book-author span {
  color: #8e8e8e;
}
input { border-radius: 0 !important; }
input:focus { outline: none }
.background-transition {
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;

  -moz-transition-property: background-color;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;

  -o-transition-property: background-color;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: linear;

  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.fill { background: #30cbfc; }

.btn {
  border-radius: 0px;
  text-decoration: none;
  padding: 12px 10px 12px 12px;
  display: inline-block;
  cursor: pointer;
  background: #CE3131
}

.btn:hover {
  color: #fff;
  background: #b60909;
}
.chzn-container .chzn-results .highlighted {
  background: #FFFF98;
  color: #4c484a;
}
